lombok.anyConstructor.addConstructorProperties=true

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.databind.annotation.JsonSerialize
lombok.copyableAnnotations += com.fasterxml.jackson.databind.annotation.JsonDeserialize